
<md-dialog aria-label="Create a Service">
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>New Service</h3>
        <span flex></span>
        <md-button type="button" class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="service">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Detail</label>
          <input ng-model="service.DETAILS">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label></label>
          <md-select ng-model="service.DEPARTMENT">
            <md-option ng-repeat="d in departments" value="{{d.value}}">
              {{d.value}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Address</label>
        <input ng-model="service.address">
      </md-input-container>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Ward</label>
          <input ng-model="service.WARD">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input ng-model="service.city">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Postal Code</label>
          <input name="postalCode" ng-model="service.POSTALCODE" placeholder="ex) L6H2A8"
                 required md-maxlength="6">
          <div ng-messages="service.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">Invalid Postal Code!!</div>
            <div ng-message="md-maxlength" class="my-message">Invalid Postal Code!!</div>
          </div>
        </md-input-container>
        <div layout="row" layout-aligh="center center" class="md-margin">
          <md-button type="submit" ng-disabled="service.$invalid" class="md-raised md-primary" 
                aria-label="submit">
            Submit
          </md-button>
          <md-button type="button" class="md-raised md-warn" aria-label="cancel" ng-click="cancel()">
            Cancel
          </md-button>
      </div>
      </div>
    </form> 
  </div>
</md-dialog>