
<md-content class="md-padding" layout-xs="column" layout="row">   
    <div flex-xs flex-gt-sm="60" layout="column">
        <div layout="row" layout-align="end center">
          <md-button class="md-icon-button md-warn" ng-click="locateToMain($event)" aria-label="go back" >
            <i class="fa fa-reply fa-lg" aria-hidden="true"></i>
          </md-button>
        </div>

        <md-card class="md-margin" layout-align="center center">
            <md-card-title layout-align="center center" layout="column" style="width:100%; background-color: #dcedc8;">  
              <md-list-item layout-align="center center">
                <div>
                  <img ng-src="image/{{service.UserID}}.png" class="md-avatar" alt="image">
                </div>
              </md-list-item>
              <span class="md-title">{{user.userName}}</span>
              <div layout="row">
                <md-button class="md-icon-button md-warn" aria-label="Email">
                  <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-icon-button md-warn" aria-label="Email">
                  <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-icon-button md-warn" aria-label="Email">
                  <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-icon-button md-warn" aria-label="Email">
                  <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-icon-button md-warn" aria-label="Email">
                  <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                </md-button>
              </div>
              <md-card-title-text layout-align="center center">
                <span class="md-headline">{{service.Task}}</span>
                <span class="md-title">{{service.Category}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-divider ></md-divider>
            <md-card-content class="md-padding" >
              <p>
                <span class="md-subhead"><strong>Location:</strong> {{service.Location}}</span>
              </p>
              <p>
                <span class="md-subhead"><strong>Date:</strong> {{service.Date}}</span>
              </p>
              <p layout="row">
                <strong>Type:&nbsp&nbsp</strong><span>{{service.Type}}</span>
              </p>
              <p layout="row" class="md-padding">
                <span>{{service.Details}}</span>
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center" class="md-padding">
                  <md-card-icon-actions>
                    <md-button class="md-icon-button md-warn" ng-click="email('alex.yeji.park@gmail.com')" aria-label="Email">
                      <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-icon-button md-warn" ng-click="call($event)" aria-label="call">
                      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-icon-button md-warn" ng-click="book($event)" aria-label="Favorite">
                      <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                    </md-button>
                  </md-card-icon-actions>
            </md-card-actions>
        </md-card>

    </div>
</md-content>